body {
  background-color: #191919;
  font-family: 'Open Sans';
}

h1 {
  color: white;
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.table-paragraph {
  margin: 0px;
  padding: 0;
  text-align: center;
}

.periodic-configuration {
  font-size: 8px;
  color: white;
}

.periodic-symbol {
  font-size: 25px;
}

.periodic-name {
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: white;
}

.alkali {
  /* background-color: cyan; */
  color: #b82029;
}

.earth-alkali {
  /* background-color: burlywood; */
  color: #f4a61b;
}

.nonmetal {
  color: #9ec47c;
}

.post-transition-metal {
  /* background-color: blueviolet; */
  color: #aa88c7;
}

.noble-gas {
  /* background-color: chartreuse; */
  color: #dba2b6;
}

.metal {
  /* background-color: darksalmon; */
  color: #9ac3ed;
}

.metalloid {
  /* background-color: darkslateblue; */
  color: #f5cd19;
}

.actinoids {
  /* background-color: aqua; */
  color: #49d9a8;
}

.lantanoids {
  /* background-color: darkolivegreen; */
  color: #188ec0;
}

table {
  /* width: 80%; */
  margin: auto;
  padding-top: 30px;
  border-spacing: 4px;
}

.periodic-number {
  font-size: 10px;
}

td {
  background-color: #191919;
  border: 0.5px #bbbbbb solid;
  border-radius: 6%;
  padding: 2px;
  min-width: 60px;
  padding: 5px 0;
  cursor: default;
  transition: transform 0.15s;
}

td:hover {
  background-size: 100% 100%;
  transform: scale(1.4) translate3d(0px, 0px, 0px);
  /* -webkit-transform: scale(1.4, 1.4) translate3d(0px, 0px, 0px); */
  transform-origin: center;
  background-color: #191919;
  z-index: 6;
}

.nofill {
  border: none;
  cursor: default;
}

.nofill:hover {
  transform: none;
}

.lantanoid-start,
.actinoids-start {
  text-align: center;
  font-size: 30px;
  cursor: default;
}

.lantanoid-start:hover,
.actinoids-start:hover {
  transform: none;
}

.information {
  border: none;
  cursor: default;
}

.information:hover {
  transform: none;
}

.gas {
  color: #a43632;
}

.liquid {
  color: #2a6085;
}

.solid {
  color: white;
}

.inforamtion-p {
  color: white;
  display: flex;
  align-items: center;
  margin: 0;
}

.flow-subcontainer {
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.flow-container {
  display: flex;
  justify-content: space-around;
}

.information-dot {
  font-size: 40px;
  margin-right: 5px;
}

.flow-container-phase {
  padding-top: 60px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: stretch;
}

.phase {
  padding: 10px 0;
}

.periodic-symbol a {
  color: inherit;
  text-decoration: inherit;
}

.header-number {
  border: none;
  color: white;
  text-align: center;
}

.header-number:hover {
  transform: none;
}
