body {
  background-color: #2b2b2b;
}

.container {
  display: flex;
  justify-content: center;
  margin: 5% auto 2%;
  max-width: 560px;
  background-color: #575757;
  padding: 2%;
  color: white;
}

.comment-container {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 560px;
  color: white;
}

label {
  display: block;
}

input {
  box-sizing: border-box;
  padding: 2% 5%;
  width: 100%;
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
}

.inlineLabel {
  display: inline-block;
  margin: 0 1%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.row-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  resize: vertical;
  outline: none;
  padding: 2%;
}

label,
.row {
  margin: 3% 0;
}

form {
  box-sizing: border-box;
  width: 100%;
}

input,
textarea,
select {
  border: solid 1px #a3a2a2;
  border-radius: 0;
}

.w-100 {
  width: 100%;
}

.m-r2 {
  margin-right: 2%;
}

select {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2%;
}

button {
  color: white;
  padding: 2%;
  display: inline-block;
  width: 25%;
  background-color: grey;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: large;
  margin-left: 2%;
}

button:hover {
  opacity: 80%;
}

button[type='submit'] {
  background-color: #007bff;
}

.c-comment-box {
  background-color: #575757;
  max-width: 560px;
  padding: 0 2% 2%;
  margin: 2% auto;
  color: white;
}

.c-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grey-container {
  background-color: #2b2b2b;
}

nav ul {
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline;
  padding: 0 10px;
}

nav {
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  line-height: 1.5em;
}

@media print {
  body {
    font-family: serif;
  }

  nav {
    display: none;
  }
}
