body {
  background-color: #2b2b2b;
}

form {
  background-color: #575757;
}

.opinion {
  background-color: #575757;
}

.grey-container {
  background-color: #2b2b2b;
}

nav ul {
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline;
  padding: 0 10px;
}

nav {
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  line-height: 1.5em;
}

@media print {
  body {
    font-family: serif;
  }

  nav {
    display: none;
  }
}
