body {
  color: white;
  background-color: #1d1d1d;
  font-family: Arial, Helvetica, sans-serif;
}

.grey-container {
  background-color: #2b2b2b;
}

.black-container {
  background-color: #1d1d1d;
}

nav ul {
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline;
  padding: 0 10px;
}

nav {
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  line-height: 1.5em;
}

.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding: 10%;
}

.overview-text {
  width: 60%;
}

h1 {
  /* font-size: 60px; */
  font-size: 2em;
  margin: 0;
}

h2 {
  margin: 0;
  /* font-size: 40px; */
  font-size: 1.5em;
  padding: 10px 0;
}

.element-container {
  border: 0.5px #bbbbbb solid;
  border-radius: 6%;
  width: 30%;
  min-width: 330px;
  text-align: center;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0;
}

.element-name {
  /* font-size: 30px; */
  font-size: 1.6em;
  margin: 5px;
}

.element-symbol {
  /* font-size: 145px; */
  font-size: 9em;
  margin: 15px;
  margin-top: 0px;
  margin: 0;
}

.overview-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px 0;
}

.main-content {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}

footer {
  background-color: #1d1d1d;
}

img {
  width: 100%;
  margin: 15px 0;
}

svg {
  display: block;
  margin: auto;
}

.center {
  fill: #bbbbbb;
}

.layer {
  stroke: #bbbbbb;
  stroke-width: 1;
  fill: none;
}

.electron {
  fill: #bbbbbb;
  transform-origin: 50% 50%;
  animation: rotating 4s linear infinite;
}

.rot45 {
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}

.svg-text {
  fill: #141414;
  font-size: 35px;
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .overview {
    flex-direction: column;
    padding: 5%;
  }

  .main-content {
    padding: 5%;
  }

  .overview-text {
    width: 100%;
  }

  .element-container {
    width: 60%;
  }
}

@media print {
  body {
    font-family: serif;
  }

  nav {
    display: none;
  }

  footer {
    display: none;
  }

  .element-container {
    margin-left: 50px;
  }
}
